@charset "UTF-8";

@media screen and (max-width: 750px) {
/* =========================================================
container
========================================================= */
#container {
	background: url("../img/bg-sp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}
#container main {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}
/* =========================================================
logo
========================================================= */
#logo {
	text-align: left;
	padding-top: 30px;
	margin-bottom: 35px;
}
#logo h1 {
	max-width: 60%;
	margin: 0;
}
#logo h1 a {
}
#logo h1 a img {
}
/* =========================================================
login
========================================================= */
#login {
	width: 93%;
	margin: 0 auto 16vw;
}
#login .login-inner {
	background: #fff;
	padding-bottom: 40px;
	box-shadow: 1px 1px 20px #000;
}
#login .login-inner .ttl {
	font-size: 1.5rem;
	font-weight: 500;
	color: #fff;
	background-image: linear-gradient(to bottom, #d1161a 55%, #971e23);
	padding: 15px 0;
	margin-bottom: 20px;
}
#login .login-inner .welcome {
	width: 84px;
	margin-bottom: 26px;
}
#login .login-inner .welcome img {
}
#login .login-inner .txt {
	font-size: 1.3rem;
	width: 265px;
	margin-bottom: 20px;
}
#login .login-inner .form-group {
	position: relative;
	width: 280px;
	margin-bottom: 12px;
}
#login .login-inner .form-group .form-label {
	position: absolute;
	background: #fff;
	font-size: 1.2rem;
	top: -10px;
	left: 8px;
	padding: 0 6px;
	color: #7f8281;
	z-index: 1;
}
#login .login-inner .form-group .text-input {
	width: 100%;
	font-size: 1.6rem;
	padding: 13px;
	border: 1px solid #DAD7D6;
	border-radius: 5px;
	line-height: 1.6;
}
#login .login-inner .form-group .login-input {
	position: relative;
}
#login .login-inner .form-group .login-input .password-input {
	width: 100%;
	font-size: 1.6rem;
	padding: 13px;
	border: 1px solid #DAD7D6;
	border-radius: 5px;
	line-height: 1.6;
}
#login .login-inner .form-group .login-input .password-icon {
	position: absolute;
	top: 0;
	right: 12px;
	height: 100%;
}
#login .login-inner .form-group .login-input .password-icon .eye-icon {
	background: url("../img/eye-icon.png");
	display: inline-block;
	background-size: contain;
	width: 16px;
	height: 11px;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
}
#login .login-inner .form-group .login-input .password-icon .eye-close::before {
	content: "";
	display: block;
	position: absolute;
	background: #696d74;
	width: 1px;
	height: 21px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform: rotate(45deg);
}
#login .login-inner .forget-password {
	width: 280px;
	text-align: left;
	font-size: 1.4rem;
	color: #3088a6;
	margin-bottom: 22px;
}
#login .login-inner .forget-password a {
}
#login .login-inner .btn {
	width: 280px;
}
#continue {
	width: 100%;
	border: none;
	background-image: linear-gradient(to bottom, #d1161a 55%, #971e23);
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 5px;
	padding: 16px 0;
}
 input::placeholder {
 color: #ddd;
}

/* IE */
input:-ms-input-placeholder {
 color: #ddd;
}

/* Edge */
input::-ms-input-placeholder {
 color: #ddd;
}
}
